@model IEnumerable<WebMvc.Models.RouteViewModel>
@{
    ViewData["Title"] = "Route List";
}
<h2>Route List</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <a asp-action="RouteEdit" asp-route-id="@item.Id">Edit</a> | <a asp-action="RouteDeleteModel"
                        asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-action="RouteCreate">Create a new Route</a>
